cycler==0.10.0
decorator==4.4.2
helpdev==0.7.1
imageio==2.9.0
kiwisolver==1.3.1
matplotlib==3.3.3
networkx==2.5
numpy==1.19.3
opencv-python==4.4.0.46
pandas==1.2.0
Pillow==8.0.1
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyqtgraph==0.11.1
pytesseract==0.3.7
python-dateutil==2.8.1
pytz==2020.5
PyWavelets==1.1.1
QDarkStyle==2.8.1
QtPy==1.9.0
scikit-image==0.18.1
scipy==1.5.4
six==1.15.0
threadpoolctl==2.1.0
tifffile==2020.12.8
